In [62]:
import pandas as pd

In [63]:
import lib.corcoordinate_caculate as cc

In [64]:
main_data = pd.read_csv('../data/內政部實價登錄_data/台北市_10101_11303_房價data.csv')
main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243176 entries, 0 to 243175
Data columns (total 31 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     243176 non-null  int64
 1   usage_category                 242958 non-null  object
 2   address                        243176 non-null  object
 3   property_type                  243174 non-null  object
 4   community_name                 136206 non-null  object
 5   main_building_ratio            227424 non-null  float64
 6   city                           243176 non-null  object
 7   parking_space_price            38223 non-null   float64
 8   transaction_date               243176 non-null  object
 9   elevator_available             83323 non-null   float64
 10  building_age                   196408 non-null  float64
 11  number_of_land                 243176 non-null  int64
 12  number_of_building             243176 non-null  int64
 13  number_of_parking_space        243176 non-null  int64
 14  latitude                       243176 non-null  float64
 15  longitude                      243176 non-null  float64
 16  management_org_available       243176 non-null  int64
 17  per_ping_calculation_method    243176 non-null  object
 18  note                           121743 non-null  object
 19  price_per_ping                 236747 non-null  float64
 20  detailed_usage_classification  241750 non-null  object
 21  total_area_ping                243176 non-null  float64
 22  property_b_l_p_type            243176 non-null  object
 23  district                       243176 non-null  object
 24  total_price                    243176 non-null  int64
 25  total_floors                   242644 non-null  float64
 26  target_floor                   242430 non-null  float64
 27  transaction_floors             242769 non-null  float64
 28  bedrooms                       221600 non-null  float64
 29  living_rooms                   221600 non-null  float64
 30  bathrooms                      221600 non-null  float64
dtypes: float64(14), int64(6), object(11)
memory usage: 57.5+ MB

In [65]:
main_data['longitude']

0         121.562364
1         121.521735
2         121.529696
3         121.534162
4         121.506940
             ...
243171    121.586622
243172    121.586622
243173    121.586622
243174    121.614110
243175    121.589574
Name: longitude, Length: 243176, dtype: float64

In [66]:
test_data = main_data[['latitude','longitude']].head(100)

In [67]:
test_data.head()

    latitude   longitude
0  25.109841  121.562364
1  25.083014  121.521735
2  25.096835  121.529696
3  25.125402  121.534162
4  25.084347  121.506940

In [68]:
high_speed = pd.read_excel('../data/迎避設施 集中營/高速公路出入口.xlsx')

In [69]:
high_speed.head()

         分類     設施名稱 里程K+000       位置座標X      位置座標Y
0  國道1號(平面)      基隆端       0  121.735785  25.122895
1  國道1號(平面)    基隆交流道       1  121.729195  25.116244
2  國道1號(平面)    八堵交流道       2  121.720896  25.103529
3  國道1號(平面)  大華系統交流道       5  121.699802  25.097373
4  國道1號(平面)    五堵交流道       6  121.689182  25.087178

In [70]:
cc.convert_lat_lon_to_tuple(high_speed, '位置座標Y', '位置座標X')

In [71]:
high_speed

,分類,設施名稱,里程K+000,位置座標X,位置座標Y,cor
0,國道1號(平面),基隆端,0,121.735785,25.122895,"(25.12289475, 121.7357847)"
1,國道1號(平面),基隆交流道,1,121.729195,25.116244,"(25.11624361, 121.7291954)"
2,國道1號(平面),八堵交流道,2,121.720896,25.103529,"(25.10352948, 121.7208964)"
3,國道1號(平面),大華系統交流道,5,121.699802,25.097373,"(25.09737331, 121.6998019)"
4,國道1號(平面),五堵交流道,6,121.689182,25.087178,"(25.08717804, 121.6891821)"
5,國道1號(平面),汐止交流道,10,121.659572,25.076205,"(25.07620489, 121.6595722)"
6,國道1號(平面),汐止系統交流道,11,121.650189,25.073493,"(25.07349255, 121.6501888)"
7,國道1號(平面),高架道路汐止端,13,121.631931,25.067370,"(25.06737036, 121.6319309)"
8,國道1號(平面),東湖交流道,15,121.612227,25.065466,"(25.06546641, 121.6122269)"
9,國道1號(平面),內湖交流道,17,121.592575,25.064261,"(25.06426095, 121.5925755)"
10,國道1號(平面),圓山交流道,23,121.534794,25.072724,"(25.07272365, 121.5347942)"
11,國道1號(平面),台北交流道,25,121.515936,25.077702,"(25.0777018, 121.5159356)"
12,國道1號(平面),三重交流道,27,121.496356,25.076243,"(25.07624319, 121.4963558)"
13,國道1號(平面),五股轉接道,32,121.448203,25.071558,"(25.07155791, 121.4482028)"
14,國道1號(平面),五股交流道,33,121.438723,25.068942,"(25.0689425, 121.4387233)"
15,國道1號(平面),泰山轉接道,35,121.420051,25.064329,"(25.06432899, 121.4200515)"
16,國道1號(平面),林口交流道,41,121.367971,25.065149,"(25.06514866, 121.3679706)"
17,國道1號(高架),汐止端,高架13,121.631931,25.067370,"(25.06737036, 121.6319309)"
18,國道1號(高架),堤頂交流道,高架18,121.583414,25.067670,"(25.06767048, 121.5834144)"
19,國道1號(高架),下塔悠出口匝道,高架20,121.564183,25.071091,"(25.0710913, 121.564183)"
20,國道1號(高架),環北交流道,高架25,121.515936,25.077702,"(25.0777018, 121.5159356)"
21,國道1號(高架),五股轉接道,高架32,121.448203,25.071558,"(25.07155791, 121.4482028)"
22,國道1號(高架),泰山轉接道,高架35,121.420051,25.064329,"(25.06432899, 121.4200515)"
23,國道2號,鶯歌系統交流道,20,121.324036,24.944820,"(24.94481951, 121.3240361)"
24,國道3甲,台北端,0,121.549997,25.016287,"(25.01628722, 121.5499967)"
25,國道3甲,萬芳交流道,3,121.579917,25.004503,"(25.00450261, 121.5799175)"
26,國道3甲,木柵交流道,5,121.593490,25.002142,"(25.00214249, 121.5934896)"
27,國道3甲,深坑端,6,121.599863,25.002018,"(25.0020176, 121.5998635)"
28,國道3號,基金交流道,0,121.714681,25.139712,"(25.13971205, 121.714681)"
29,國道3號,瑪東系統交流道,2,121.698607,25.130046,"(25.13004551, 121.6986069)"
30,國道3號,汐止系統交流道,10,121.648055,25.080168,"(25.08016789, 121.6480549)"
31,國道3號,新台五路交流道,12,121.642568,25.062818,"(25.06281779, 121.6425683)"
32,國道3號,南港交流道,14,121.628749,25.051007,"(25.05100675, 121.628749)"
33,國道3號,南港系統交流道,16,121.620050,25.035294,"(25.03529398, 121.6200498)"
34,國道3號,南深路出口匝道,16,121.620050,25.035294,"(25.03529398, 121.6200498)"
35,國道3號,木柵交流道,20,121.596502,25.008756,"(25.00875648, 121.5965017)"
36,國道3號,新店交流道,26,121.554962,24.974270,"(24.97427031, 121.5549621)"
37,國道3號,安坑交流道,31,121.525257,24.968650,"(24.96865002, 121.5252566)"
38,國道3號,中和交流道,35,121.486805,24.988765,"(24.9887648, 121.4868045)"
39,國道3號,土城交流道,42,121.436186,24.961701,"(24.96170103, 121.4361862)"
40,國道3號,樹林交流道,46,121.399592,24.950894,"(24.95089361, 121.3995922)"
41,國道3號,三鶯交流道,50,121.361936,24.940609,"(24.9406092, 121.3619358)"
42,國道3號,鶯歌系統交流道,54,121.329134,24.939581,"(24.93958118, 121.329134)"
43,國道5號,南港系統交流道,0,121.623341,25.035271,"(25.03527135, 121.6233414)"
44,國道5號,石碇交流道,4,121.647209,25.008927,"(25.00892743, 121.6472086)"

In [72]:
cc.convert_lat_lon_to_tuple(test_data, 'latitude', 'longitude')

In [73]:
test_data

     latitude   longitude                                       cor
0   25.109841  121.562364   (25.109841388999303, 121.5623636414188)
1   25.083014  121.521735    (25.08301416710221, 121.5217354205053)
2   25.096835  121.529696  (25.096834957429344, 121.52969579806587)
3   25.125402  121.534162  (25.125401572552573, 121.53416242019422)
4   25.084347  121.506940    (25.0843474191753, 121.50694037083063)
..        ...         ...                                       ...
95  25.145982  121.552293    (25.14598203785791, 121.5522934210285)
96  25.108477  121.530946   (25.10847660792752, 121.53094570109276)
97  25.119258  121.525409   (25.11925771327323, 121.52540945664502)
98  25.088221  121.506718  (25.088221217528435, 121.50671839944884)
99  25.090693  121.517862   (25.09069253315644, 121.51786189785864)

[100 rows x 3 columns]

In [74]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   latitude   100 non-null    float64
 1   longitude  100 non-null    float64
 2   cor        100 non-null    object
dtypes: float64(2), object(1)
memory usage: 2.5+ KB

In [75]:
cc.distance_caculate_and_cat_counts(test_data, high_speed, 'hs', [1000,3000,5000])

In [76]:
test_data

,latitude,longitude,cor,hs_under_1000_m,hs_under_3000_m,hs_under_5000_m
0,25.109841,121.562364,"(25.109841388999303, 121.5623636414188)",0.0,0.0,2.0
1,25.083014,121.521735,"(25.08301416710221, 121.5217354205053)",2.0,2.0,1.0
2,25.096835,121.529696,"(25.096834957429344, 121.52969579806587)",0.0,3.0,2.0
3,25.125402,121.534162,"(25.125401572552573, 121.53416242019422)",0.0,0.0,0.0
4,25.084347,121.506940,"(25.0843474191753, 121.50694037083063)",0.0,3.0,1.0
...,...,...,...,...,...,...
95,25.145982,121.552293,"(25.14598203785791, 121.5522934210285)",0.0,0.0,0.0
96,25.108477,121.530946,"(25.10847660792752, 121.53094570109276)",0.0,0.0,4.0
97,25.119258,121.525409,"(25.11925771327323, 121.52540945664502)",0.0,0.0,2.0
98,25.088221,121.506718,"(25.088221217528435, 121.50671839944884)",0.0,3.0,1.0
99,25.090693,121.517862,"(25.09069253315644, 121.51786189785864)",0.0,4.0,0.0